mixin tick-box(object)
    .tick-box
        if object.type==="radio"
            input.tick-box__input(type="radio" id=object.name+"-"+object.value+"" name=object.name+"" checked=(object.active? "checked" : undefined))
            label.tick-box__label(for=object.name+"-"+object.value+"")
        else if object.type==="checkbox"
            input.tick-box__input(type="checkbox" id=object.value+"" name=object.value+"" checked=(object.active? "checked" : undefined))
            label.tick-box__label(for=object.value)