mixin tick-box(type,name,value,state)
	.tick-box
		-var state = state || false;
		if type==="radio"
			input(type="radio" id=name+"-"+value+"" name=name+"" checked=(state==="active"? "checked" : undefined))
			label(for=name+"-"+value+"")
		else if type==="checkbox"
			input(type="checkbox" id=value+"" name=value+"" checked=(state==="active"? "checked" : undefined))
			label(for=value)