mixin drop-down(id,options)
	form.drop-down
		select.drop-down-main(class="stylee" name=id+"")
			option
			option(value="1" class="new-v")
				a(href="event.html")="Apple Festival 2017"
			option(value="2" class="new-v")
				a(href="event.html")="Fish festival 2017"
			option(value="3" class="new-v")
				a(href="event.html")="International Contest Festival Ax Day"
			option(value="4" class="new-v")
				a(href="event.html")="Vasnetsovs's Plain Air and Pottery Symposium"
			option(value="5" class="new-v")
				a(href="event.html")="The International Music Festival Kaliningrad City Jazz"