mixin map-block(object)
    .map-block
        .map-block__map(class="js-map-block__map" data-lat=object.lat+"" data-lng=object.lng+"" data-zoom=object.zoom+"" data-marker=object.marker+"")
        .map-block-info
            h3.map-block-info__title=object.title
            p.map-block-info__description=object.address
            .map-block-info__icons
                i.fa.fa-dot-circle-o(aria-hidden="true")
                i.fa.fa-map-marker(aria-hidden="true")